	<div class="co1-sm-1 col-right">

		<ol class="list-unstyled social_links">
			<li><a href="#"><%= fa_icon "instagram" %></a></li>
			<li><a href="#"><%= fa_icon "facebook" %></a></li>
			<li><a href="#"><%= fa_icon "twitter" %></a></li>
			</ol>
			
	<div>
